<div class="max-w-7xl w-full m-auto pb-12 ">
    <div class="rounded-md overflow-hidden text-center pt-12 text-3xl font-extrabold">
        <span>
            CARDLIST
        </span>
        <img class="m-auto " src="assets/bg/ico_anchor.png" alt="">
    </div>
    <div class="bg-white w-full mt-12 p-4 rounded-md shadow-2xl">
        <input placeholder="Search..." class="h-12 border-b outline-none text-base" type="text">
        <button
            class="bg-primary border-none rounded-md flex items-center justify-center mt-4 p-2 min-w-normal hover:text-black hover:bg-primary-hover font-bold text-white transition-colors duration-300">Search</button>
        <span class="block mt-8">--Color </span>
        <div class="font-bold flex mt-4">


            <div class="flex item-center justify-center p-1 border-2 border-black border-solid min-w-normal cursor-pointer mr-2 hover:bg-black hover:text-white transition-all duration-300"
                *ngFor="let item of type">
                {{item}}
            </div>
        </div>

    </div>

    <div class="flex flex-wrap">
        <div class="cartBlock h-80 w-1/5 p-4 mt-12 flex ">
            <img (click)="handleCart();"
                class=" cursor-pointer h-full w-full rounded-md object-contain  hover:-translate-y-3 transition-all duration-300"
                src="https://asia-en.onepiece-cardgame.com/images/cardlist/card/OP01-051_p2.png?230203" alt="">
            <div [ngClass]="status?'block':'hidden'" class=" cartDetail absolute top-40">
                <div (click)="handleCart();" class=" cartOverlay  fixed bottom-0 top-0 left-0 right-0 z-40 bg-overlay">
                </div>
                <div
                    class=" animate-scale flex items-center justify-center text-3xl relative z-50 w-full h-16 bg-black text-white font-bold rounded-t-lg">
                    <span>Haruta</span>
                </div>
                <div
                    class=" animate-scale relative top-0 w-full z-50 m-auto w-full max-w-7xl bg-white p-4 rounded-b-lg">

                    <div class=" flex">
                        <div class="w-40%">
                            <img class="w-full object-contain"
                                src="https://asia-en.onepiece-cardgame.com/images/cardlist/card/OP01-051_p2.png?230203"
                                alt="">
                        </div>
                        <div class="w-60% pr-5 pl-5 pt-16 pb-16">
                            <div class="font-extrabold h-12 border-b mt-8 text-base border-primary border-solid">
                                Power:<span class=" font-normal">
                                    3000
                                </span></div>
                            <div class="font-extrabold h-12 border-b mt-8 text-base border-primary border-solid">
                                Color:<span class=" font-normal">
                                    Red
                                </span> </div>
                            <div class="font-extrabold h-12 mt-8 text-base ">Effect: <span class=" font-normal">
                                    [Activate:
                                    Main] [Once Per
                                    Turn] Give up
                                    to 1 rested
                                    DON!! card to your Leader
                                    or
                                    1 of
                                    your Characters.
                                </span></div>
                            <div class="font-extrabold h-12 mt-8 text-base ">Attribute: <span class=" font-normal">
                                    Special
                                </span></div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <div class=" cartBlock h-80 w-1/5 p-2 mt-12  flex ">
            <img class=" cursor-pointer h-full w-full rounded-md object-contain  hover:-translate-y-3 transition-all duration-300"
                src="https://asia-en.onepiece-cardgame.com/images/cardlist/card/OP01-051_p2.png?230203" alt="">
        </div>
        <div class=" cartBlock h-80 w-1/5 p-2 mt-12  flex ">
            <img class=" cursor-pointer h-full w-full rounded-md object-contain  hover:-translate-y-3 transition-all duration-300"
                src="https://asia-en.onepiece-cardgame.com/images/cardlist/card/OP01-051_p2.png?230203" alt="">
        </div>
        <div class=" cartBlock h-80 w-1/5 p-2 mt-12  flex ">
            <img class=" cursor-pointer h-full w-full rounded-md object-contain  hover:-translate-y-3 transition-all duration-300"
                src="https://asia-en.onepiece-cardgame.com/images/cardlist/card/OP01-051_p2.png?230203" alt="">
        </div>
        <div class=" cartBlock h-80 w-1/5 p-2 mt-12  flex ">
            <img class=" cursor-pointer h-full w-full rounded-md object-contain  hover:-translate-y-3 transition-all duration-300"
                src="https://asia-en.onepiece-cardgame.com/images/cardlist/card/OP01-051_p2.png?230203" alt="">
        </div>
        <div class=" cartBlock h-80 w-1/5 p-2 mt-12  flex ">
            <img class=" cursor-pointer h-full w-full rounded-md object-contain hover:-translate-y-3 transition-all duration-300"
                src="https://asia-en.onepiece-cardgame.com/images/cardlist/card/OP01-051_p2.png?230203" alt="">

        </div>
        <div class=" cartBlock h-80 w-1/5 p-2 mt-12  flex ">
            <img class=" cursor-pointer h-full w-full rounded-md object-contain  hover:-translate-y-3 transition-all duration-300"
                src="https://asia-en.onepiece-cardgame.com/images/cardlist/card/OP01-051_p2.png?230203" alt="">
        </div>
        <div class=" cartBlock h-80 w-1/5 p-2 mt-12  flex ">
            <img class="cursor-pointer h-full w-full rounded-md object-contain  hover:-translate-y-3 transition-all duration-300"
                src="https://asia-en.onepiece-cardgame.com/images/cardlist/card/OP01-051_p2.png?230203" alt="">
        </div>
        <div class=" cartBlock h-80 w-1/5 p-2 mt-12  flex ">
            <img class="cursor-pointer h-full w-full rounded-md object-contain  hover:-translate-y-3 transition-all duration-300"
                src="https://asia-en.onepiece-cardgame.com/images/cardlist/card/OP01-051_p2.png?230203" alt="">
        </div>
        <div class=" cartBlock h-80 w-1/5 p-2 mt-12  flex ">
            <img class="cursor-pointer h-full w-full rounded-md object-contain  hover:-translate-y-3 transition-all duration-300"
                src="https://asia-en.onepiece-cardgame.com/images/cardlist/card/OP01-051_p2.png?230203" alt="">
        </div>
    </div>

</div>