<div class="max-w-7xl w-full m-auto pb-12 ">
    <div class="rounded-md overflow-hidden text-center pt-12 text-3xl font-extrabold">
        <span>
            CARDLIST
        </span>
        <img class="m-auto " src="assets/bg/ico_anchor.png" alt="">
    </div>
    <div class="bg-white w-full mt-12 p-4 rounded-md shadow-2xl">
        <input type="text">
        <i class="fa fa-area-chart"></i>
        <span class="block mt-8">--Color </span>
        <div class="font-bold flex mt-8">


            <div class="flex item-center justify-center p-1 border-2 border-black border-solid min-w-normal cursor-pointer mr-2 hover:bg-black hover:text-white transition-all duration-300"
                *ngFor="let item of type">
                {{item}}
            </div>
        </div>
        <button
            class="bg-primary border-none rounded-md flex items-center justify-center mt-8 p-2 min-w-normal hover:text-black hover:bg-primary-hover font-bold text-white transition-colors duration-300">Search</button>
    </div>

    <div class="flex flex-wrap">
        <div class="h-72 w-1/5 p-2 mt-12 flex hover:-translate-y-3 transition-all duration-300">
            <img class="h-full w-full rounded-md object-cover"
                src="https://asia-en.onepiece-cardgame.com/images/cardlist/card/OP01-051_p2.png?230203" alt="">
        </div>
        <div class="h-72 w-1/5 p-2 mt-12 flex hover:-translate-y-3 transition-all duration-300">
            <img class="h-full w-full rounded-md object-cover"
                src="https://asia-en.onepiece-cardgame.com/images/cardlist/card/OP01-051_p2.png?230203" alt="">
        </div>
        <div class="h-72 w-1/5 p-2 mt-12 flex hover:-translate-y-3 transition-all duration-300">
            <img class="h-full w-full rounded-md object-cover"
                src="https://asia-en.onepiece-cardgame.com/images/cardlist/card/OP01-051_p2.png?230203" alt="">
        </div>
        <div class="h-72 w-1/5 p-2 mt-12 flex hover:-translate-y-3 transition-all duration-300">
            <img class="h-full w-full rounded-md object-cover"
                src="https://asia-en.onepiece-cardgame.com/images/cardlist/card/OP01-051_p2.png?230203" alt="">
        </div>
        <div class="h-72 w-1/5 p-2 mt-12 flex hover:-translate-y-3 transition-all duration-300">
            <img class="h-full w-full rounded-md object-cover"
                src="https://asia-en.onepiece-cardgame.com/images/cardlist/card/OP01-051_p2.png?230203" alt="">
        </div>
        <div class="h-72 w-1/5 p-2 mt-12 flex hover:-translate-y-3 transition-all duration-300">
            <img class="h-full w-full rounded-md object-cover"
                src="https://asia-en.onepiece-cardgame.com/images/cardlist/card/OP01-051_p2.png?230203" alt="">
        </div>
        <div class="h-72 w-1/5 p-2 mt-12 flex hover:-translate-y-3 transition-all duration-300">
            <img class="h-full w-full rounded-md object-cover"
                src="https://asia-en.onepiece-cardgame.com/images/cardlist/card/OP01-051_p2.png?230203" alt="">
        </div>
        <div class="h-72 w-1/5 p-2 mt-12 flex hover:-translate-y-3 transition-all duration-300">
            <img class="h-full w-full rounded-md object-cover"
                src="https://asia-en.onepiece-cardgame.com/images/cardlist/card/OP01-051_p2.png?230203" alt="">
        </div>
        <div class="h-72 w-1/5 p-2 mt-12 flex hover:-translate-y-3 transition-all duration-300">
            <img class="h-full w-full rounded-md object-cover"
                src="https://asia-en.onepiece-cardgame.com/images/cardlist/card/OP01-051_p2.png?230203" alt="">
        </div>
        <div class="h-72 w-1/5 p-2 mt-12 flex hover:-translate-y-3 transition-all duration-300">
            <img class="h-full w-full rounded-md object-cover"
                src="https://asia-en.onepiece-cardgame.com/images/cardlist/card/OP01-051_p2.png?230203" alt="">
        </div>
    </div>

</div>